* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/**Header**/

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
}

#logo {
    height: 70px;
    width: 180px;
    border-right: 1px solid white;
    align-self: stretch;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenesHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: auto;
    border-left: 1px solid white;
    padding: 0 25px;
    margin-left: auto;
}

#imagenesHeader img {
    height: 35px; 
    width: auto;
    vertical-align: middle;
    margin: 3px;
}

nav {
    align-self: stretch;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    transition: 0.4s;
}

nav a:hover {
    color: #00FF00;
    transition: 0.4s;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1px solid white; 
    border-right: 1px solid white;
    margin-right: -1px;
}


nav ul {
    display: flex;
    list-style: none;
    height: 100%;
}

/**Main**/

/*Portada Main*/
main img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    width: 100%;
    overflow: hidden;
}

main section:first-of-type {
    position: relative;
    width: 100%;
    min-height: 85vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#imagenFondoMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(75%);
    border-bottom: 1px solid white;
}

main h1 {
    font-weight: 300;
    font-family: 'Anton';
    font-size: 100px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.40;
    letter-spacing: -1px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 90px;

    text-shadow: 
        2px 2px 0 #000,
       -2px -2px 0 #000,
        2px -2px 0 #000,
       -2px 2px 0 #000,
        /* Añadimos más capas de sombra nítida para un contorno más grueso */
        3px 3px 0 #000,
       -3px -3px 0 #000,
        3px -3px 0 #000,
       -3px 3px 0 #000,
        /* Mantenemos la sombra difuminada para dar profundidad */
        0px 0px 30px rgba(0,0,0,1);
}

/*Primera Seccion Main*/
.primeraParteIntegraTuMaquina {
    width: 100%;
    display: flex;
    background-color: black;
    border-bottom: 1px solid white;
    height: 750px;
    overflow: hidden;
}

#textoYDecoracionVertical {
    width: 45%;
    border-right: 1px solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 0 100px;
    box-sizing: border-box;
    align-items: center;
}

#imagenPrincipalManoVerde {
    height: 100%;
    width: 55%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imagenPrincipalManoVerde img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.decoIzquierda {
    position: absolute;
    width: auto;
    height: auto;
    left: 3%;
    top: 50%;
    transform: translateY(-83%);
}

.decoDerecha {
    position: absolute;
    width: auto;
    height: auto;
    right: 3%;
    top: 38%;
    transform: rotate(180deg);
}

.textoDiv {
    justify-content: center;
    margin-left: 150px;
    margin-right: 156px;
    margin-top: 0px;
}

#textoYDecoracionVertical h2 {
    font-size: 85px;
    line-height: 1.20;
    margin: 5px 0;
    color: #00FF00;
    font-family: 'Anton';
    font-weight: 500;
    filter: opacity(90%);
}

#textoYDecoracionVertical p {
    margin: 0;
    color: white;
}

.txt-descripcion {
    font-size: 20px;
    max-width: 500px;
    font-family: 'Anton';

}

.FirstSectionText {
    display: flex;
    align-items: center;

}

.FirstSectionText p {
    display: flex;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 700;
}

#flechaDecoracion {
    margin-left: 2%;
    color: #00FF00;
    font-weight: 500;
    font-family: 'Anton';
    font-size: 50px;
}

/*Segunda Sección Main*/
.segundaParteProtocoloAnalisis {
    display: flex;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    height: 270px;
    overflow: hidden;
    align-items: center;
}

.segundaParteProtocoloAnalisis h3 {
    color: #00FF00;
    display: flex;
    font-family: 'Anton';
    font-weight: 200;
    font-size: 40px;
    filter: opacity(90%);
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 40%;
}

.segundaParteProtocoloAnalisis > img {
    width: 37%;
    height: 100%;
    object-fit: cover;
    
}

.boton {
    display: flex;
    height: 70px;
    width: 12%;
    margin-left: 100px;
    align-items: center;
}

.boton a {
    text-decoration: none;
    color: #00FF00;
    font-size: 17px;
    font-family: 'Anton';
    font-weight: 200;
    height: 60px;
    white-space: nowrap;
    padding: 16px;
    border: 1px solid white;
    transition: 0.6s;
}

.boton a:hover {
    background-color: #00FF00;
    color: #000;
}

.boton img {
    height: 60px;
    width: auto;
    border: 1px solid white;
}


/*Tercera Seccion Main*/

.terceraParteCajas {
    display: flex;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    height: 670px;
    overflow: hidden;
    align-items: center;
    
}

.terceraParteCajas h3 {
    color: #00FF00;
    font-family: 'Anton';
    font-weight: 200;
}

.analisisNucleoMain {
    display: flex; 
    flex-direction: row;
    width: 50%;
    height: 100%;
    border-right: 1px solid white;
}

.analisisNucleoBanner {
    background-color: #00FF00;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 30px 0;
    box-sizing: border-box;
    border-right: 1px solid white;
    flex-shrink: 0;
}

.analisisNucleoBanner img {
    position: relative;
    bottom: 60px;
    right: 35%;
    margin-bottom: 50px;
    filter: opacity(90%);
}

.analisisNucleoBanner h3 {
    color: black;
    font-family: 'Anton';
    font-size: 35px;
    font-weight: 100;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    bottom: 280px;
    left: 7px;
}

.cajaMitad {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 40px 0px;
}

.cajaMitad img {
    width: 100%;
}

.infoFlotante {
    position: absolute;
    bottom: 130px;
    left: 0px;
    font-size: 50px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 1px solid black;
}

.infoFlotante h3 {
    font-size: 33px;
    margin-left: 7%;
    padding-top: 13px;
}

.botonCaja1 {
    display: flex;
    height: 120px;
    width: 400px;
    align-items: center;
    background-color: #000;
    border: 1px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.botonCaja1 a {
    text-decoration: none;
    color: #00FF00;
    font-size: 17px;
    font-family: 'Anton';
    font-weight: 200;
    height: 60px;
    white-space: nowrap;
    padding: 16px;
    border: 1px solid white;
    transition: 0.6s;
    margin-left: 6%;
}

.botonCaja1 a:hover {
    background-color: #00FF00;
    color: #000;
}

.botonCaja1 img {
    height: 60px;
    width: auto;
    border: 1px solid white;
}

.adquisicionVerificadaMain {
    display: flex;
    width: 50%;
    height: 100%;
}

.adquisicionVerificadaBanner {
    background-color: #00FF00;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
    box-sizing: border-box;
    border-right: 1px solid white;
    flex-shrink: 0;
    position: relative;
}

.adquisicionVerificadaBanner h3 {
    color: black;
    font-family: 'Anton';
    font-size: 35px;
    font-weight: 100;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 224px;
}

#imagenDeco1 {
    position: absolute;
    top: 0;
    left: 0;
}

#imagenDeco2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.cajaMitad2 {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 40px 0px;
}

.cajaMitad2 img {
    width: 100%;
}

.infoFlotanteCaja2 {
    position: absolute;
    bottom: 135px;
    left: 0px;
    font-size: 50px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 1px solid black;
}

.infoFlotanteCaja2 h3 {
    font-size: 30px;
    margin-left: 7%;
    padding-top: 13px;

}

.botonCaja2 {
    display: flex;
    height: 123px;
    width: 400px;
    align-items: center;
    background-color: #000;
    border: 1px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.botonCaja2 a {
    text-decoration: none;
    color: #00FF00;
    font-size: 17px;
    font-family: 'Anton';
    font-weight: 200;
    height: 60px;
    white-space: nowrap;
    padding: 16px;
    border: 1px solid white;
    transition: 0.6s;
    margin-left: 6%;
}

.botonCaja2 a:hover {
    background-color: #00FF00;
    color: #000;
}

.botonCaja2 img {
    height: 60px;
    width: auto;
    border: 1px solid white;
}

/* Cuarta Seccion Main */

.cuartaParteGif {
    display: flex;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    height: 200px;
    overflow: hidden;
    align-items: center;
}

.imagenGifCuartaParte {
    filter: opacity(65%);
}

.textoGif {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Anton';
    text-decoration: none;
    font-weight: 100;
    width: 100%;

}

.textoGif h4 {
    margin: 0;
    font-weight: 100;
    font-size: 45px;
}

.textoGif p {
    margin: 0;
    font-size: 30px;
}

/* Quinta seccion Main */

.quintaSeccionTresCajasMain {
    display: flex;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    height: 580px;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
    font-family: 'Anton';
    font-weight: 100%;
}

.quintaSeccionCaja1 {
    width: 33.3%;
    height: 100%;
    background-color: #00FF00;
}

.quintaSeccionCaja1 h5 {
    padding-top: 8%;
    color: black;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    font-family: 'Anton';
}

.quintaSeccionCaja1 img {
    margin-left: 5px;
    width: 600px;
    height: 40px;
    position: relative;
    top: 5%;
}

.InfoFlotanteQuintaSeccionCaja1 {
    position: absolute;
    font-size: 50px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 1px solid black;
    
}

.InfoFlotanteQuintaSeccionCaja1 p {
    color: #00FF00;
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    filter: opacity(95%);
    width: 90%;
    margin-left: 5%;
}

.botonQuintaSeccionCaja1 {
    
}

/*------------------------*/

.quintaSeccionCaja2 {
    width: 33.3%;
    height: 100%;
}

.quintaSeccionCaja2 h5 {
    color: #00FF00;
}
.InfoFlotanteQuintaSeccionCaja2 {
    color: #00FF00;
}

/*------------------------*/
.quintaSeccionCaja3 {
    width: 33.3%;
    height: 100%;
    background-color: #00FF00;
}